hardware/datasheets
notes/
hardware/steinelmod/
photos/
screenshots/
hardware/**/GERBER-JLCPCB.zip
hardware/**/*.3mf
hardware/**/*.lck
hardware/**/#auto_saved_files#
hardware/ledmodule/**/*.zip
**/python_env
hardware/**/jlcpcb/**
software/bestefernbedienung/.embuild